.association-detail-wrap{
    padding: 8rem 5rem 2rem 5rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;

    &-infos{
        display: flex;
        align-items: center;
        flex-direction: column;

        &-actions{
            display: flex;
            gap: .5rem;

            &-edit,&-delete {
                padding: .5rem .75rem;
                flex: 1 1 0px;
                border-radius: .5rem;
                font-size: .8rem;
                font-weight: 600;
                text-transform: capitalize;
                text-align: center;
                margin-top: 1rem;

                &:hover{
                    background-color: #cbd5e1;
                    cursor: pointer;
                }
            }

            &-edit{
                background-color: #e2e8f0;
                color: #0f172a; 

                &:hover{
                    background-color: #cbd5e1;
                } 
            }

            &-delete{
                
                background-color: #ef4444;
                color: white;
                &:hover{
                    background-color: #b91c1c;
                } 
            }
        }

        
    }

    &-users{
        flex-grow: 1;
        display: grid;
        align-items: center;
        flex-direction: column;
        gap: 1rem;
        

        &-title{
            font-weight: 600;
            font-size: 1.5rem;
            color: #0f172a;
        }

        &-grid{
            display: grid;
            gap: .5rem;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        }
    }

    &-minutes{
        flex-grow: 1;
        display: grid;
        align-items: center;
        flex-direction: column;
        gap: 1rem;
        

        &-title{
            font-weight: 600;
            font-size: 1.5rem;
            color: #0f172a;
        }

        &-grid{
            display: grid;
            gap: .5rem;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

            &-empty{
                font-size: 1rem;
                font-weight: 600;
                color: #64748b;
            }
        }
    }
}