.association-detail-wrap{
    padding: 8rem 5rem 2rem 5rem;
    display: flex;
    flex-direction: column;

    &-infos{
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 2.5rem 5rem;

        &-edit {
                background-color: #e2e8f0;
                color: #0f172a;
                padding: .5rem .75rem;
                border-radius: .5rem;
                font-size: .8rem;
                font-weight: 600;
                text-transform: capitalize;
                margin-top: 1rem;

                &:hover{
                    background-color: #cbd5e1;
                    cursor: pointer;
                }
        }
    }

    &-users{
        flex-grow: 1;
        display: grid;
        align-items: center;
        flex-direction: column;
        gap: 1rem;
        

        &-title{
            font-weight: 600;
            font-size: 1.5rem;
            color: #0f172a;
        }

        &-grid{
            display: grid;
            gap: .5rem;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        }
    }
}