@if (associationDetail && associationMembers) {
<main class="association-detail-wrap">
  <section class="association-detail-wrap-infos">
    <h1>{{ associationDetail.name }}</h1>
    <div class="association-detail-wrap-infos-edit" (click)="openPopup()">
      <p>Modifer association</p>
    </div>
  </section>

  <section class="association-detail-wrap-users">
    @if (associationDetail.members.length > 0){
    <h2 class="association-detail-wrap-users-title">
      {{ associationDetail.name }}'s Members
    </h2>
    <div class="association-detail-wrap-users-grid">
      @for (member of associationDetail.members; track member.id){
      <app-member-card [memberData]="member"></app-member-card>
      }
    </div>

    }
  </section>
</main>
}

@if (showPopupEditAssociation) {
  <app-popup (close)="closePopup()">
    <app-popup-update-association (closePopup)="closePopup()" [associationData]="associationDetail" (contentUpdated)="fetchAssociationDetail()" ></app-popup-update-association>
  </app-popup>
}
