@if (associationDetail && associationMembers) {
<main class="association-detail-wrap">
  <section class="association-detail-wrap-infos">
    <img [src]="'associations/' + associationDetail.logo + '.png'" alt="" />
    <h1>{{ associationDetail.name }}</h1>
  </section>

  <section class="association-detail-wrap-users">
    @if (associationDetail.members.length > 0){
    <h2 class="association-detail-wrap-users-title">
      {{ associationDetail.name }}'s Members
    </h2>
    <div class="association-detail-wrap-users-grid">
      @for (member of associationDetail.members; track member.id){
      <app-user-card [user]="member" page="association"></app-user-card>
      }
    </div>

    }
  </section>
</main>
}
