<div class="popup-wrap-content">
    <h2 class="popup-wrap-content-title">Ajouter un utilisateur</h2>
    <div class="popup-wrap-content-separator"></div>
    
    <div class="popup-wrap-content-message">
      <p>Veuillez remplir les informations ci-dessous pour ajouter un nouvel utilisateur.</p>
    </div>
    
    <form class="popup-wrap-content-form">
      <div class="form-group">
        <label for="firstname">Prénom</label>
        <input
          id="firstname"
          type="text"
          [(ngModel)]="firstname"
          name="firstname"
          placeholder="Entrez le prénom"
          required
        />
      </div>
      <div class="form-group">
        <label for="lastname">Nom</label>
        <input
          id="lastname"
          type="text"
          [(ngModel)]="lastname"
          name="lastname"
          placeholder="Entrez le nom"
          required
        />
      </div>
      <div class="form-group">
        <label for="age">Age</label>
        <input
          id="age"
          type="age"
          [(ngModel)]="age"
          name="age"
          placeholder="Entrez l'age"
          required
        />
      </div>
    </form>
    
    <section class="popup-wrap-content-actions">
      <div class="popup-wrap-content-actions-cancel" (click)="close()">
        <p *ngIf="isLoading === false">Annuler</p>
        <div *ngIf="isLoading" class="loader"></div>
      </div>
      <div class="popup-wrap-content-actions-cta" (click)="addUser()">
        <p *ngIf="isLoading === false">Ajouter</p>
        <div *ngIf="isLoading" class="loader"></div>
      </div>
    </section>
  </div>
  