<div class="popup-wrap-content">
    <h2 class="popup-wrap-content-title">Ajouter un utilisateur</h2>
    <div class="popup-wrap-content-separator"></div>
    
    <form class="popup-wrap-content-form">
      <div class="form-group">
        <label for="firstname">Prénom</label>
        <input
          id="firstname"
          type="text"
          [(ngModel)]="newUser.firstname"
          name="firstname"
          placeholder="John"
          required
        />
      </div>
      <div class="form-group">
        <label for="lastname">Nom</label>
        <input
          id="lastname"
          type="text"
          [(ngModel)]="newUser.lastname"
          name="lastname"
          placeholder="Smith"
          required
        />
      </div>
      <div class="form-group">
        <label for="age">Age</label>
        <input
          id="age"
          type="number"
          [(ngModel)]="newUser.age"
          name="age"
          placeholder="23"
          required
        />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          id="password"
          type="password"
          [(ngModel)]="newUser.password"
          name="password"
          placeholder="****"
          required
        />
      </div>
    </form>
    
    <section class="popup-wrap-content-actions">
      <div class="popup-wrap-content-actions-cancel" (click)="close()">
        <p>Annuler</p>
      </div>
      <div class="popup-wrap-content-actions-cta" (click)="addUser()">
        <p>Ajouter</p>
      </div>
    </section>
  </div>
  