@if (associationData && newAssociationDetail){
<div class="popup-wrap-content">
  <h2 class="popup-wrap-content-title">Update association</h2>
  <div class="popup-wrap-content-separator"></div>
  <div class="popup-wrap-content-form">
    <div class="form-group name">
      <label for="name">Name</label>
      <div class="name-content">
        <input
        type="text"
        id="name"
        [placeholder]="associationData.name"
        [(ngModel)]="newAssociationDetail.name"
        name="name"
      />
      <div class="name-content-update" (click)="updateNameAssociation()">
        <p>Update</p>
      </div>
      </div>
      
    </div>

    <div class="form-group members">
      <p>Members</p>
      <div class="members-content">
        <div class="members-content-add" (click)="openPopupAddMembers()">
            <p>Add member(s)</p>
        </div>
        <div class="members-content-grid">
          @for (member of newAssociationDetail.members!.slice().reverse(); track member.id){
            <div class="members-content-grid-item">
              <div class="members-content-grid-item-id"># {{ member.id }}</div>
              <div class="members-content-grid-item-name">{{ member.firstname }} {{ member.lastname }}</div>
              <div class="members-content-grid-item-role">
                
                <select name="role" id="role" title="role" [(ngModel)]="member.role" >
                    @if (!havePresident() || member.role === 'president'){
                        <option value="president" [selected]="member.role === 'president'">President</option>
                    }
    
                    @if (!haveTreasurer() || member.role === 'treasurer'){
                        <option value="treasurer" [selected]="member.role === 'treasurer'">Treasurer</option>
                    }
    
                    
                    <option value="member" [selected]="member.role == undefined || member.role === 'member'">Member</option>
                </select>
              </div>
              <div class="members-content-grid-item-delete" (click)="removeMember(member.id)">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none">
                  <path
                    d="M3 6H21M19 6V20C19 21 18 22 17 22H7C6 22 5 21 5 20V6M8 6V4C8 3 9 2 10 2H14C15 2 16 3 16 4V6M10 11V17M14 11V17"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div>
            </div>
            }
        </div>
        
      </div>
    </div>
  </div>

  <div class="popup-wrap-content-actions">
    <div class="popup-wrap-content-actions-close" (click)="close()">
      <p>Close</p>
    </div>
  </div>

  @if (showPopupAddMembers) {
    <section class="popup-add-members">
        <section class="popup-add-members-content">
          <header class="popup-add-members-content-search">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none">
              <path d="M21.0002 21L16.7002 16.7M19 11C19 15.4183 15.4183 19 11 19C6.58172 19 3 15.4183 3 11C3 6.58172 6.58172 3 11 3C15.4183 3 19 6.58172 19 11Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <input type="text" placeholder="Search an user..." (input)="searchUser($event)">
          </header>

          <main class="popup-add-members-content-grid">
            @for (user of usersListFiltered; track user.id){
              <div class="popup-add-members-content-grid-item" [ngClass]="{'active': membersSelected.includes(user)}" (click)="selectMember(user)">
                <p>{{user.firstname}} {{user.lastname}}</p>
              </div>
            }
          </main>

            <footer class="popup-add-members-content-actions">
                <div class="popup-add-members-content-actions-cancel" (click)="closePopupAddMembers()">
                    <p>Cancel</p>
                  </div>
                  <div class="popup-add-members-content-actions-cta" (click)="addSelectedMembers()">
                    @if (membersSelected.length > 0){
                      <p>Add {{membersSelected.length}} members</p>

                    } @else {
                      <p>Add</p>

                    }
                  </div>
            </footer>
          </section>
      
    </section>
  }
</div>
}
