.userlist-container{
    display: flex;
    padding: 8rem 5rem 2rem 5rem;
    flex-direction: column;
    gap: 2rem;
    align-items: center;

    &-header{
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        color: #020617;

        &-search{
            background-color: #f1f5f9;
            padding: .75rem 1rem;
            border-radius: 1rem;
            display: flex;
            align-items: center;
            gap: .5rem;
            color: #64748b;

            & svg{
                height: 1.5rem;
            }

            & input{
                background-color: transparent;
                border: none;
                outline: none;
                font-size: 1rem;
                font-weight: 600;

                &::placeholder{
                    color: #64748b;
                }
            }
        }
        &-add{
            background-color: #f1f5f9;
            color: #0f1325;
            padding: .75rem 1.25rem;
            border-radius: 2rem;
            font-weight: 800;

            &:hover{
                cursor: pointer;
            }
        }
    }

    &-grid{
        display: grid;
        width: 100%;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 1rem;

        &-empty{
            font-size: 1rem;
            font-weight: 600;
            color: #64748b;
        }
    }
}

.p-card{
    width: 25rem;
    background: #e2e8f0;
}