<section class="userlist-container">
  
  <header class="userlist-container-header">
    <a [routerLink]="" class="userlist-container-header-add" (click)="addUser()" ><p>Add User</p></a>
    <div class="userlist-container-header-search">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none">
        <path d="M21.0002 21L16.7002 16.7M19 11C19 15.4183 15.4183 19 11 19C6.58172 19 3 15.4183 3 11C3 6.58172 6.58172 3 11 3C15.4183 3 19 6.58172 19 11Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
      <input (input)="search($event)" type="text" placeholder="Search an user...">
    </div>
  </header>

  <section class="userlist-container-grid">
    @for (user of dataSource; track user.id){
      <app-user-card [user]="user" (deleted)="removeUser(user.id)"></app-user-card>
    }
  </section>
</section>

