@if (memberData) {
<a
  class="member-card-wrap"
  [routerLink]="['/users', memberData.id]"
>
  <main class="member-card-wrap-content">
    <div class="member-card-wrap-content-id">
      <p>#{{ memberData.id }}</p>
    </div>
    <div class="member-card-wrap-content-infos">
      <h1>{{ memberData.firstname }} {{ memberData.lastname }}</h1>
      <p>{{ memberData.age }} ans</p>
    </div>
    <div class="member-card-wrap-content-role">
      <p>{{ memberData.role }}</p>
    </div>
  </main>
</a>
}