.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: white;

    &-logo{
        font-size: 1.5rem;
        font-weight: 900;
        color: #020617;
    }

    &-nav{
        display: flex;
        gap: 2rem;

        &-item{
            font-weight: 600;
            color: #cbd5e1;
            transition: all .4s;
            
            &.active,&:hover{
                font-weight: 700;
                color: #0f172a;
            }
        }
    }

    &-actions{
        display: flex;
        gap: .5rem;
        

        &-profil{
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10rem;
            background-color: #f1f5f9;
            color: #020617;
            font-weight: 600;
            padding: 0 1rem;
            &:hover{
                cursor: pointer;
                background-color: #cbd5e1;
            }
            
        }

        &-logout{
            background-color: #f1f5f9;
            color: #020617;
            height: 3rem;
            aspect-ratio: 1/1;
            border-radius: 10rem;
            display: flex;
            justify-content: center;
            align-items: center;

            & svg{
                width: 1.25rem;
            }

            &:hover{
                cursor: pointer;
                background-color: #cbd5e1;
            }
        }

    }
}