@if (association){
    <a class="association-card-wrap" [routerLink]="['/associations', association.id]">
        <main class="association-card-wrap-content">
            <div class="association-card-wrap-content-id" [ngClass]="[loggedUserIsPresident ? 'president' : '']">
                <p>#{{association.id}}</p>
            </div>
            <div class="association-card-wrap-content-infos">
                <h1>{{association.name}}</h1>
                <p class="association-card-wrap-content-infos-size">{{association.members.length}} members</p>
            </div>
        </main>
        
    </a>
}